/* Global Aesthetics CSS */

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --demi-white: #F7F7F7;
    --full-white: #FFFFFF;
    --full-black: #000000;
    --serif-font-family: 'Instrument Serif';
    --sans-font-family: 'Instrument Sans';
    --fallback-serif-font: 'serif';
    --fallback-sans-font: 'sans-serif';

    /* SPACING SYSTEM */
    --spacing-XS: 5px;
    --spacing-S: 10px;
    --spacing-M: 15px;
    --spacing-L: 30px;
    --spacing-XL: 60px;
    --spacing-2XL: 120px;
    --spacing-3XL: 240px;

}

/* Headings */
.h0 {
    font-size: 124px;
    font-family: var(--serif-font-family), var(--fallback-serif-font);
    font-weight: 400;
}

.h1 {
    font-size: 96px;
    font-family: var(--serif-font-family), var(--fallback-serif-font);
    font-weight: 400;
}

.h2 {
    font-size: 60px;
    font-family: var(--serif-font-family), var(--fallback-serif-font);
    font-weight: 400;
}

.h3 {
    font-size: 48px;
    font-family: var(--serif-font-family), var(--fallback-serif-font);
    font-weight: 400;
}

.h4 {
    font-size: 34px;
    font-family: var(--serif-font-family), var(--fallback-serif-font);
    font-weight: 400;
}

/* Subheadings */
.s1 {
    font-size: 18px;
    font-family: var(--sans-font-family), var(--fallback-sans-font);
    font-weight: 400;
}

.s2 {
    font-size: 14px;
    font-family: var(--sans-font-family), var(--fallback-sans-font);
    font-weight: 400;
}

/* Paragraphs */
.p1 {
    font-size: 16px;
    font-family: var(--sans-font-family), var(--fallback-sans-font);
    font-weight: 400;
}

.p2 {
    font-size: 14px;
    font-family: var(--sans-font-family), var(--fallback-sans-font);
    font-weight: 400;
}

.p3 {
    font-size: 12px;
    font-family: var(--sans-font-family), var(--fallback-sans-font);
    font-weight: 400;
}

/* Caption */
.caption {
    font-size: 10px;
    font-family: var(--serif-font-family), var(--fallback-serif-font);
    font-weight: 400;
    text-transform: uppercase; 
}
