@import "lenis/dist/lenis.css";

@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin "@tailwindcss/typography";

@layer base {
  h1 {
    @apply text-5xl md:text-8xl leading-none overflow-clip;
  }

  #hero-h1 {
    @apply opacity-0 transition-opacity duration-300;
  }

  #hero-h1.ready {
    @apply opacity-100;
  }

  #hero-h1.ready .split-word {
    @apply opacity-0;
  }

  h2 {
    @apply text-4xl md:text-7xl leading-none;
  }

  h3 {
    @apply text-3xl md:text-6xl leading-none;
  }

  p {
    @apply text-base leading-[140%];
  }

  a>p,
  button>p {
    @apply text-base md:text-sm;
  }

  a,
  button {
    @apply cursor-pointer hover:text-blue-500;
  }

  .pill {
    @apply transition-all duration-75 border-black rounded-3xl border-[1px] flex bg-white w-fit px-4 py-2 place-items-center justify-center;
  }

  .pill:hover {
    @apply border-blue-500 border-[1.5px] border-dashed;
  }

  .pill:active {
    @apply bg-blue-200 border-blue-500 text-blue-500 scale-[98%] duration-75;
  }

  .pill:hover img,
  .pill:active img {
    filter: brightness(0) invert(42%) sepia(93%) saturate(1352%) hue-rotate(208deg) brightness(119%) contrast(119%);
  }

  .sharer_icon {
    @apply flex p-5 w-16 aspect-square cursor-pointer items-center justify-center rounded-xl bg-gray-50 transition duration-150 ease-in-out hover:bg-[#cfcfcf] active:scale-95;
  }

  * {
    @apply p-0 m-0;
  }

  html {
    @apply w-full min-h-full overflow-x-hidden transition-all duration-150 ease-in-out;
  }

  body {
    @apply w-full min-h-full;
  }

  p {
    @apply font-sans font-normal tracking-[-0.03em] no-underline decoration-from-font w-fit text-base md:text-lg lg:text-xl;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  b {
    @apply font-medium;
  }

  h1 {
    @apply font-serif font-normal tracking-[-0.03em] no-underline decoration-from-font;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  h2 {
    @apply font-serif leading-none;
  }

  button,
  a {
    @apply bg-transparent border-none text-inherit cursor-pointer no-underline inline-flex p-[2px] w-fit h-fit;
  }

  *,
  ::before,
  ::after {
    @apply m-0 p-0;
    text-wrap-style: pretty;
  }

  ::selection {
    @apply bg-[#3B82F6] text-white;
  }

  .main_container {
    @apply h-full w-full overflow-y-scroll snap-y snap-mandatory bg-transparent scroll-smooth outline-none md:gap-4 gap-32 flex flex-col items-center;
  }

  .fullsize_section {
    @apply relative min-h-screen h-fit w-full max-w-[1920px] flex items-center py-2 z-[30] md:px-4 px-4 snap-start bg-transparent;
  }

  img {
    @apply object-contain transition-all duration-150 ease-in-out;
  }
}

img {
  -webkit-user-drag: none;
  user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}